
/****** Object:  Table [dbo].[SampleLines]    Script Date: 5/7/2018 11:24:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SampleLines](
	[OBJECTID] [int] NOT NULL,
	[SHAPE] [geometry] NULL,
	[AssetID] [varchar](10) NULL,
	[F_NODE] [varchar](10) NULL,
	[T_NODE] [varchar](10) NULL,
	[Feature] [varchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SamplePoints]    Script Date: 5/7/2018 11:24:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SamplePoints](
	[OBJECTID] [int] NOT NULL,
	[SHAPE] [geometry] NULL,
	[AssetID] [varchar](10) NULL,
	[Feature] [varchar](20) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[SampleLines] ([OBJECTID], [SHAPE], [AssetID], [F_NODE], [T_NODE], [Feature]) VALUES (1, 0xC9080000011400F6287C4F8F164140E17A187FF5454100F6281C78C2164180EB513E7CF94541, N'P01', N'M01', N'M002', N'Pipe')
GO
INSERT [dbo].[SampleLines] ([OBJECTID], [SHAPE], [AssetID], [F_NODE], [T_NODE], [Feature]) VALUES (2, 0xC9080000011400F6281C78C2164180EB513E7CF9454100AE47B107EE1641C0CCCC423EF54541, N'P02', N'M02', N'M03', N'Pipe')
GO
INSERT [dbo].[SampleLines] ([OBJECTID], [SHAPE], [AssetID], [F_NODE], [T_NODE], [Feature]) VALUES (3, 0xC9080000011400AE47B107EE1641C0CCCC423EF5454100AE476193F11641A099992388EE4541, N'P03', N'M03', N'M14', N'Pipe')
GO
INSERT [dbo].[SamplePoints] ([OBJECTID], [SHAPE], [AssetID], [Feature]) VALUES (1, 0xC9080000010C00F6287C4F8F164140E17A187FF54541, N'M01', N'Manhole')
GO
INSERT [dbo].[SamplePoints] ([OBJECTID], [SHAPE], [AssetID], [Feature]) VALUES (2, 0xC9080000010C00AE47B107EE1641C0CCCC423EF54541, N'M03', N'Manhole')
GO
INSERT [dbo].[SamplePoints] ([OBJECTID], [SHAPE], [AssetID], [Feature]) VALUES (3, 0xC9080000010C00F6281C78C2164180EB513E7CF94541, N'M02', N'Manhole')
GO
ALTER TABLE [dbo].[SampleLines]  WITH CHECK ADD  CONSTRAINT [A_g746_ck] CHECK  (([SHAPE].[STSrid]=(2249)))
GO
ALTER TABLE [dbo].[SampleLines] CHECK CONSTRAINT [A_g746_ck]
GO
ALTER TABLE [dbo].[SamplePoints]  WITH CHECK ADD  CONSTRAINT [A_g747_ck] CHECK  (([SHAPE].[STSrid]=(2249)))
GO
ALTER TABLE [dbo].[SamplePoints] CHECK CONSTRAINT [A_g747_ck]
GO
